@font-face {
  font-family: 'robotoblack';
  src: url('roboto-black-webfont.woff2/fonst/') format('woff2'),
       url('roboto-black-webfont.woff/fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotoblack_italic';
  src: url('roboto-blackitalic-webfont.woff2/fonts/') format('woff2'),
       url('roboto-blackitalic-webfont.woff/fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotobold';
  src: url('roboto-bold-webfont.woff2/fonts/') format('woff2'),
       url('roboto-bold-webfont.woff/fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotobold_italic';
  src: url('roboto-bolditalic-webfont.woff2/fonts/') format('woff2'),
       url('roboto-bolditalic-webfont.woff/fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotoitalic';
  src: url('roboto-italic-webfont.woff2/fonts/') format('woff2'),
       url('roboto-italic-webfont.woff/fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotolight';
  src: url('roboto-light-webfont.woff2/fonts/') format('woff2'),
       url('roboto-light-webfont.woff/fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotolight_italic';
  src: url('roboto-lightitalic-webfont.woff2/fonts/') format('woff2'),
       url('roboto-lightitalic-webfont.woff/fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotomedium';
  src: url('roboto-medium-webfont.woff2/fonts/') format('woff2'),
       url('roboto-medium-webfont.woff/fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotomedium_italic';
  src: url('roboto-mediumitalic-webfont.woff2/fonts/') format('woff2'),
       url('roboto-mediumitalic-webfont.woff/fonts/') format('woff');
  font-weight: normal;
  font-style: normal;

}
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
body {
    min-width: 1100px;
    margin: 0;
    padding: 0;
    font-family:"montserratregular","Arial",sans-serif;
    font-size:14px;
    line-height:22px;
    font-weight:400;
    color:#000;
}  
/*------------header--------------------------------*/
.header {
  min-height:46px;
  background-color:none;
}
.section {
  padding: 30px;
}
.section__wrapper {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu {
  flex-grow: 1;
}
.menu__list {
  display: flex;
}
.menu__item {
  width: 80px;
  height: 20px;
}
.button{
  
}
ul {
  list-style: none;
}
.header-menu {
  min-height:90px;
}
.container {
  position:relative;
  max-width:1110px;
  margin:0auto;
}
.banner {

}
/*-----------main-------------------------*/
.delivery {

}
.Aboutus {

}
.Menu__food {

}
.mobail__app {

}
.testimonial {

}
.contact {

}
/*----------footer--------------------------------------------*/
